/* STYLES SPECIFIC TO THIS SITE */

/* RenewalQueue.aspx */
.queueHeading
{
	padding-left: 10px;
}


.queueTable
{
	height: 430px;

}

.queueInnerBody
{
	background-color: #fff;
	padding-bottom: 0px;
	min-height: 480px;
	width: 100%;
	
	border-left: solid 1px #333;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
	border-right: solid 1px #44627F;

}

.queueInnerBodyToolBar
{
	width: inherit;
	background-color:#AFD677;
	border-top: solid 1px #73B70C;
	height: 20px;
	padding: 10px 5px 10px 5px;

}

.queueLinkButton
{
	border: solid 1px #fff;
	color: #fff;
	font-family: Arial;
	font-size: 11px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	font-weight: bold;
	background-color: #578B09;
}

.queueLinkButton:hover
{
	background-color: #fff;
	color: #578B09;
	border-color: #578B09;

}
.queueCheck
{
	border: none;
}

#queueThrobber
{
	position: relative;
	top: 100px;
	z-index:100;
	line-height: 14px;
	color: #ccc;
	font-family: Verdana;
	font-size: 11px;
	text-align: center;
	width: 100%;

}
/*********************************************************
Detail Panel
**********************************************************/
.queueDetailBox
{
	color: #44627F;
	width:90%;
	
	padding-right: 10px;
	min-height: 480px;
	background-color: #DEE4E6;
	border-top: solid 1px #44627F;
	border-bottom: solid 1px #44627F;
	border-right: solid 1px #44627F;
	max-height: 100%;


}
.queueDetailInner
{
	height: 430px;
	padding-left: 10px;
	overflow: auto;
}
.queueDetailToolBar
{
	width: 100%;
	background-color:#CBD4D8;
	border-top: solid 1px #fff;
	height: 18px;
	padding: 5px 5px 17px 5px;

}	
.detailHeading
	{
		color: #DB501F;
		font-family: Calibri,Arial;
		font-size: 14pt;
		font-weight: bold;
		line-height: 20pt;
	}

.detailTextBox
{
	width: 100px;
	border: solid 1px #ccc;
	background-color: #f1f1f1;
}

.detailTextBoxShort
{
	width: 40px;
	border: solid 1px #ccc;
	background-color: #f1f1f1;
}


.detailLinkButton
{
	border: solid 1px #fff;
	color: #fff;
	font-family: Arial;
	font-size: 11px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	font-weight: bold;
	background-color: #1F485B;
}

.detailLinkButton:hover
{
	background-color: #fff;
	color: #1F485B;
	border-color: #1F485B;

}

.detailItem
{
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-collapse:collapse;
}
.detailItemHeader
{
	font-weight: bold;
	font-size: 11px;
}

.detailSelect {
     width: 150px; 
     background-color: #f1f1f1;
     border: solid 1px #ccc;
     font-size: 12px;
}


.detailExclude
{
	font-size: 11px;
}



#detailThrobber
{
	font-family: Verdana;
	font-size: 11px;
	padding-left: 10px;
	color: #151F28;
}

#detailThrobberHolder
{
	height: 16px;
}


#renewals
{
	position: relative;
	z-index:1;
}
.textLinkSmall
{
	font-size: 11px;
	text-decoration: none;
	color:  #DB501F;
	font-weight: bold;
}
.textLinkSmall:hover
{
	text-decoration: underline;
}

#changePaymentLink
{
	visibility: hidden;
}

